[Desktop Entry]
Name=GTK Theme Switcher
Comment=Switch Gtk+ themes quickly!
Categories=GTK;Utility;System;
Exec=/usr/local/bin/GtkThemeSwitcher.py
Icon=application-default-icon
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=gtk-theme-switcher
Keywords=gtk;theme;switch;switcher;change;style
